name: Terraform QA

on:
  push:
    branches: [ qa ]
  workflow_dispatch:

jobs:
  terraform:
    runs-on: ubuntu-latest
    env:
      ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      ARM_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
      ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}

    steps:
    - uses: actions/checkout@v3
    - uses: hashicorp/setup-terraform@v2
    - run: terraform init -backend-config="key=aro/qa/terraform.tfstate"
      working-directory: ./
    - run: terraform validate
      working-directory: ./
    - run: terraform plan -var-file="environments/qa/terraform.tfvars"
      working-directory: ./
    - run: terraform apply -auto-approve -var-file="environments/qa/terraform.tfvars"
      if: github.ref == 'refs/heads/qa' && github.event_name == 'push'
      working-directory: ./
